

    <div class="form-group">
      <label for="inputAddress"><strong>Name</strong></label>
      <input type="text" class="form-control" id="inputAddress" [(ngModel)]="name" placeholder="Name Your Todo Task">
    </div>
   
    <div class="form-row">

      <div class="form-group col-md-3">
        <label for="inputCity"> <strong>time</strong></label>
        <input type="time" class="form-control" [(ngModel)]= "time" id="inputCity">
      </div>

      <div class="form-group col-md-2">
        <label for="inputZip"> <strong>Deadline</strong></label>
        <input type="date" [(ngModel)]= "deadline" class="form-control" id="inputZip">
      </div>

      <div class="form-group col-md-2">
        <label for="inputState"> <strong>State</strong></label>
        <select id="inputState" [(ngModel)]= "state" class="form-control">
          <option selected>Necessary</option>
          <option>Important</option>
          <option>Very Important</option>
          <option>Trivial</option>      
        </select>
      </div>

      <div class="form-group row">
        <label for="colFormLabelSm" class="col-md-3 col-form-label col-form-label-md"><strong>Task</strong></label>
        <div class="col-md-9">
          <textarea type="email" [(ngModel)]= "task" class="col-md-12 form-control form-control-lg" id="colFormLabelSm" rows="4" placeholder="Enter your task">

          </textarea>
        </div>
      </div>
            
    </div>
   
    <button type="submit" class="btn btn-primary" (click)="click()">Add Task</button>
