<div class="jumbotron bg-primary text-white">
  <h1> The Big App </h1>
</div>

<div class="container">
  <app-create-item (addItem)="updateTodo($event)"></app-create-item>

  <br />
  <hr />
  <h3> Your Todo List</h3>
<div *ngFor="let item of todo,index as i " >

  <div class="row">
    
    <div class="jumbotron rounded-0 pt-3 pb-3 col-md-6">
      <button (click)="delete(i)" class="btn btn-danger">Delete</button>
        {{item.task}}
       <button  (click)="completed(i)" class=" btn btn-primary">Done</button>
    </div>  
   
</div>
  </div>



</div>
